.fixed-layout {
  height: 240px;
}
.content {
  /* flex: 1; */
  overflow: auto;
  height: calc(90dvh - 240px);

  .button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 0;
    border-radius: 50%;
    background-color: royalblue;
    color: white;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px #ccc;
  }

  scrollbar-width: thin; /* Set the scrollbar width */
  scrollbar-color: rgb(167, 167, 167) transparent; /* Thumb and track color */
}
