.dialog {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  padding: 0;
  background-color: transparent;

  &::backdrop {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: #a5abb69d;
    z-index: 1;
  }
}

.button {
  padding: 10px 20px;
  background-color: royalblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  display: inline-block;
}
