.form {
  padding: 2rem;
  background-color: lavender;
  border-radius: 10px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
  height: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.field {
  margin-bottom: 2rem;
  position: relative;
  /* border: 1px solid black; */
}

.label {
  color: #555;
  display: block;
  position: absolute;
  left: 1rem;
  top: -1.5rem;
  background-color: lavender;
  padding: 0.5rem;
}

.input,
.textarea,
.select {
  width: 100%;
  padding: 1rem;
  border: 2px solid #ceceff;
  background-color: transparent;
  outline: none;
}

.textarea {
  resize: none;
}

.radioGroup {
  display: flex;
  gap: 2rem;
}

.radioLabel {
  font-size: 16px;
  color: #555;
}

.radio {
  margin-right: 5px;
}

.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;

  &:focus {
    outline: none;
    border: none;
  }

  option {
    color: #333;
    background: #fdfeff;
    /* font-size: 16px; */
    border: none;

    &:focus,
    &:hover,
    &:checked {
      background-color: #28a745;
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.button,
.cancelButton {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button {
  background-color: #28a745;
  color: #fff;
}

.cancelButton {
  background-color: #dc3545;
  color: #fff;
}
